# Python
__pycache__/
*.pyc

# Virtual environments
.venv/

# Jupyter
.ipynb_checkpoints/

# OS / Editor
.DS_Store
.vscode/

# Logs
*.log

#data/
*.parquet
*.csv

# Ignorar datos reales, pero permitir estructura
**/data/**/*.csv
**/data/**/*.parquet
**/data/**/*.zip
